<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Pages>81</Pages><Words>3387</Words><Characters>20889</Characters><TotalTime>0</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>23894</CharactersWithSpaces><Application>WPS Office_12.1.0.26880_F1E327BC-269C-435d-A152-05C5408002CA</Application></Properties>